@model List<realEstate.Models.REIProperty>
@{
    ViewBag.Title = "Home Page";
}


    <ul>
        @foreach (var property in Model)
        {
            <li>@property.Address.Line1</li>
        }
    </ul>
