html, body {
    position: relative;
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
}



body section {
    padding: 50px 0;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/****** HOMEPAGE STYLES ******/
.homepage-section-container {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url("/Content/Images/house-homepage-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.homepage-input-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 600px;
    display: flex;
}
/****** INDEX INPUT & BTN ******/
input.zipcode-input {
    height: 65px;
    width: 100% !important;
    padding-left: 20px;
    font-size: 1.5em;
}
.zipcode-btn {
    padding: 10px 10px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.zipcode-btn i {
    font-size: 1.5em;
    color: #333;
}
.search-icon {
    width: 30px;
    height: 30px;
}
/****** CARD STYLES ******/
.property-card {
    background-color: #fff;
    margin-bottom: 20px;
}
.property-card .image-container {
    height: 200px;
    width: 100%;
    padding:0;
    margin:0;
    overflow: hidden;
    position: relative;
}
.property-card .image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.property-card-info {
    padding: 15px 20px;
}
.property-card-info-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.property-card-info-top h3 {
    padding: 0;
    margin:0;
    align-self: flex-start;
}
.property-card-info-top p {
    margin: 0;
    padding: 0;
    align-self: flex-end;
}
.property-card-info-bottom {
    padding: 10px 0;
}
    .details-btn {
        background-color: #333;
        border: solid 3px #333;
        color: #fff;
        padding: 10px 30px;
        margin: 10px 0;
        font-size: 1.5em;
        transition: all .5s ease-in-out;
    }
.details-btn:hover {
    text-decoration: none;
    color: #333;
    background-color: transparent;
    border: solid 3px #333;
}
.like-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    border: none;
    background-color: transparent;
}
.saved-btn i {
    font-size: 1.5em;
    color: #ff0000;
}

.nosaved-btn i {
    font-size: 1.5em;
    color: #808080;
}
/*SWIPER GALLERY*/
html, body {
    position: relative;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    width: 100%;
    height: 500px;
}

.gallery-thumbs {
    height: 250px;
    box-sizing: border-box;
    padding: 10px 0;
}

    .gallery-thumbs .swiper-slide {
        height: 100%;
        opacity: 0.4;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
    }

/***** Details Page*****/

.facts-and-features-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 20px 0;

}
.section-label {
    font-weight: bold;
    margin: 0 0 18px;
    padding: 0;
}
.property-fact-feature {
    padding: 0;
    margin: 20px 0;
}
.property-fact-feature i {
    font-size: 3em;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}
 .feature-label {
        font-weight: bold;
        font-size: 1.2em;
    
    }
    .property-fact-feature p {
        padding: 0 0 0 50px;
        margin: 0;
    }

.edit-and-delete-container {
    display: flex;
    justify-content: flex-start;

}

    .edit-and-delete-container .trigger-btn {
        margin-right: 10px;
    }

/******** Delete Modal ********/
.modal-confirm {
    color: #636363;
    width: 400px;
}

    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
        text-align: center;
        font-size: 14px;
    }

    .modal-confirm .modal-header {
        border-bottom: none;
        position: relative;
    }

    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -10px;
    }

    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -2px;
    }

    .modal-confirm .modal-body {
        color: #999;
    }

    .modal-confirm .modal-footer {
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
        padding: 10px 15px 25px;
    }

        .modal-confirm .modal-footer a {
            color: #999;
        }

    .modal-confirm .icon-box {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 9;
        text-align: center;
        border: 3px solid #f15e5e;
    }

        .modal-confirm .icon-box i {
            color: #f15e5e;
            font-size: 46px;
            display: inline-block;
            margin-top: 13px;
        }

    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #60c7c1;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        min-width: 120px;
        border: none;
        min-height: 40px;
        border-radius: 3px;
        margin: 0 5px;
        outline: none !important;
    }

    .modal-confirm .btn-info {
        background: #c1c1c1;
    }

        .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
            background: #a8a8a8;
        }

    .modal-confirm .btn-danger {
        background: #f15e5e;
    }

        .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
            background: #ee3535;
        }

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/***** Saved Properties Page*****/
.no-properties-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .no-properties-message i {
        font-size: 15em; 
    }