@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
    <section class="homepage-section-container">
   
                @using (Html.BeginForm("PropertiesForSale", "RealEstateProperties", FormMethod.Post))
                {
                    <div class="homepage-input-cta">
                        <input type="text" name="zipcode" class="zipcode-input" placeholder="Search">
                        <div class="input-group-append">
                            <button class="zipcode-btn" type="submit"><img class="search-icon" src="~/Content/Images/search_icon.svg" /></button>
                        </div>
                    </div>
                }
    </section>