@model List<RealEstatePropertyShared.Models.RealEstateProperty>
@using System.Globalization;

@{
    ViewBag.Title = "Properties For Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Count > 0)
{
    <section>
        <div class="container">

            <h2>@ViewBag.Title</h2>
            <div class="row">
                <div class="filter-container">
                    @using (Html.BeginForm("FilteredProperties", "RealEstateProperties", FormMethod.Post))
                    {
                        <!-- Button HTML (to Trigger Modal) -->
                        <a href="#filterModal" class="trigger-btn btn btn-lg btn-info" data-toggle="modal">
                            <i class="fa fa-filter" aria-hidden="true"></i> Filter
                        </a>
                        @Html.Partial("_PropertyFilter", Model);
                    }
                </div>
                @{
                    var sortedProperties = Model.Where(p => p.Price != 0).OrderByDescending(p => p.CapRate);

                }
                @foreach (var property in sortedProperties)
                {
                    @Html.Partial("_RealEstateProperty", property);
                }

            </div>
        </div>
    </section>
}
else
{
<div class="no-properties-message">
    <i class="fa fa-frown-o" aria-hidden="true"></i>
    <h1>No Properties have been found</h1>
</div>
}