@model List<RealEstatePropertyShared.Models.RealEstateProperty>

@{
    ViewBag.Title = "Saved Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section>
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <div class="row">

            @{
                var sortedProperties = Model.Where(p => p.Price != 0).OrderByDescending(p => p.CapRate).ToList();
            }

            @if (sortedProperties.Count > 0)
            {
                foreach (var property in sortedProperties)
                {

                    @Html.Partial("_RealEstateProperty", property);
                }
            }
            else
            {
                <div class="no-properties-message">
                    <i class="fa fa-frown-o" aria-hidden="true"></i>
                    <h1>No Properties have been liked</h1>
                </div>
            }

        </div>
    </div>
</section>