@model List<RealEstatePropertyShared.Models.RealEstateProperty>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @foreach (var property in Model)
    {
        <h2>@property.Zpid</h2>

    }


